{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Ком'юніті</h1> --}}

    {{!-- <main class="info__list">

        <div class="tabs">
            <button class="tabs__button">База знань</button>
            <button class="tabs__button">Інформація</button>
        </div>

        <img src="/img/image__1.png">

        <h2 class="info__title">Що таке база знань?</h2>

        <p class="info__p">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и
            знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию,
            являющуюся результатом решения предыдущих задач. </p>

        <button class="info__button">Перейти до ком'юніті у Телеграм</button>
    </main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}